{
  "swagger": "2.0",
  "info": {
    "title": "DWS Viewer API",
    "description": "API for document management and session handling in DWS Viewer",
    "version": "1.0.0"
  },
  "host": "api.nutrient.io",
  "basePath": "/viewer",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/documents": {
      "post": {
        "summary": "Create Document",
        "description": "Upload and create a new document",
        "operationId": "createDocument",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "type": "file",
            "required": true,
            "description": "PDF file to upload"
          }
        ],
        "responses": {
          "200": {
            "description": "Document created successfully",
            "schema": {
              "$ref": "#/definitions/DocumentOutput"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/documents/{documentId}": {
      "delete": {
        "summary": "Delete Document",
        "description": "Delete a specific document by ID",
        "operationId": "deleteDocument",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Document ID to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Document not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/sessions": {
      "post": {
        "summary": "Generate JWT",
        "description": "Generate a JWT for document access",
        "operationId": "generateSessionToken",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SessionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JWT generated successfully",
            "schema": {
              "$ref": "#/definitions/SessionResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "definitions": {
    "SessionRequest": {
      "type": "object",
      "required": [
        "allowed_documents",
        "exp"
      ],
      "properties": {
        "allowed_documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AllowedDocument"
          },
          "description": "List of documents and their permissions"
        },
        "exp": {
          "type": "integer",
          "description": "Token expiration timestamp"
        }
      }
    },
    "AllowedDocument": {
      "type": "object",
      "required": [
        "document_id",
        "document_permissions"
      ],
      "properties": {
        "document_id": {
          "type": "string",
          "description": "Document identifier"
        },
        "document_permissions": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "read",
              "write",
              "download"
            ]
          },
          "description": "Permissions for the document"
        }
      }
    },
    "SessionResponse": {
      "type": "object",
      "properties": {
        "jwt": {
          "type": "string",
          "description": "JSON Web Token for document access",
          "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
        },
        "server_urls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of server URLs associated with the session",
          "example": [
            "https://de.different-beaver.i1-eur1.m1.services.nutrient-powered.io"
          ]
        }
      },
      "required": [
        "jwt",
        "server_urls"
      ]
    },
    "DocumentOutput": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "title": {
              "type": "string",
              "example": "chicken.dvi"
            },
            "errors": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": []
            },
            "password_protected": {
              "type": "boolean",
              "example": false
            },
            "createdAt": {
              "type": "string",
              "format": "date-time",
              "example": "2025-08-04T10:10:41.857266Z"
            },
            "document_id": {
              "type": "string",
              "example": "7KQQ1W4TW3T733TSMD363Q0MEG"
            },
            "sourcePdfSha256": {
              "type": "string",
              "example": "cc90ea63a926fe36a9c92fab0ca246db40f34e39170764153c13e427e4acc1fb"
            }
          },
          "required": [
            "title",
            "password_protected",
            "createdAt",
            "document_id",
            "sourcePdfSha256"
          ]
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": []
}