swagger: '2.0'
info:
  title: PassportPDF API
  description: >-
    Operations for loading, converting, saving, signing and extracting content
    from documents.
  version: '1.0'
host: passportpdfapi.com
basePath: /api/
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  api_key:
    type: apiKey
    in: header
    name: X-PassportPDF-API-Key
security:
  - api_key: []
paths:
  /pdf/LoadDocument:
    post:
      summary: Convert to PDF
      description: >-
        Imports the provided document as PDF. Supported formats include Office
        documents, images, and others.
      operationId: LoadDocumentAsPDF
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Content:
                type: string
                format: byte
                description: Base64-encoded original document content.
              FileName:
                type: string
                description: File name including extension.
      responses:
        default:
          description: Conversion completed.
          schema:
            type: object
            properties:
              Error:
                type: object
                properties:
                  ResultCode:
                    type: string
                  ExtResultStatus:
                    type: string
                  ExtResultMessage:
                    type: string
                  InternalErrorId:
                    type: string
              RemainingTokens:
                type: integer
                format: int32
              FileId:
                type: string
              DocumentFormat:
                type: string
              PageCount:
                type: integer
                format: int32
              ThumbnailData:
                type: string
  /document/DocumentLoad:
    post:
      summary: Load Original Document
      description: Loads a document to obtain a FileId for further processing.
      operationId: DocumentLoad
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Content:
                type: string
                format: byte
                description: Base64-encoded file.
      responses:
        default:
          description: Document loaded.
          schema:
            type: object
            properties:
              Error:
                type: object
                properties:
                  ResultCode:
                    type: string
                  ExtResultStatus:
                    type: string
                  ExtResultMessage:
                    type: string
                  InternalErrorId:
                    type: string
              RemainingTokens:
                type: integer
                format: int32
              FileId:
                type: string
              DocumentFormat:
                type: string
              PageCount:
                type: integer
                format: int32
              ThumbnailData:
                type: string
  /pdf/SaveDocument:
    post:
      summary: Download PDF
      description: >-
        Saves a previously uploaded or converted document as PDF and returns the
        PDF bytes.
      operationId: SaveDocument
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              FileId:
                type: string
                description: The FileId of the PDF document.
      responses:
        default:
          description: PDF binary returned.
          schema:
            type: object
            properties:
              Error:
                type: object
                properties:
                  ResultCode:
                    type: string
                  ExtResultStatus:
                    type: string
                  ExtResultMessage:
                    type: string
                  InternalErrorId:
                    type: string
              RemainingTokens:
                type: integer
                format: int32
              Data:
                type: string
                format: byte
              FileName:
                type: string
  /pdf/ConvertToPDFA:
    post:
      summary: Convert PDF to PDF/A
      description: Converts a PDF to ISO-compliant PDF/A format.
      operationId: ConvertToPDFA
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              FileId:
                type: string
      responses:
        default:
          description: PDF/A conversion complete.
          schema:
            type: object
            properties:
              Error:
                type: object
                properties:
                  ResultCode:
                    type: string
                  ExtResultStatus:
                    type: string
                  ExtResultMessage:
                    type: string
                  InternalErrorId:
                    type: string
              RemainingTokens:
                type: integer
                format: int32
  /pdf/ExtractText:
    post:
      summary: Extract Text
      description: Extracts text from a PDF document.
      operationId: ExtractText
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              FileId:
                type: string
      responses:
        default:
          description: Text extracted.
          schema:
            type: object
            properties:
              Error:
                type: object
                properties:
                  ResultCode:
                    type: string
                  ExtResultStatus:
                    type: string
                  ExtResultMessage:
                    type: string
                  InternalErrorId:
                    type: string
              RemainingTokens:
                type: integer
                format: int32
              Text:
                type: string
                description: Extracted text content.
  /pdf/DigiSign:
    post:
      summary: Digital Signature
      description: Digitally signs the PDF using the provided certificate.
      operationId: DigiSign
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              FileId:
                type: string
              CertificateData:
                type: string
                format: byte
              CertificatePassword:
                type: string
      responses:
        default:
          description: Digital signature applied.
          schema:
            type: object
            properties:
              Error:
                type: object
                properties:
                  ResultCode:
                    type: string
                  ExtResultStatus:
                    type: string
                  ExtResultMessage:
                    type: string
                  InternalErrorId:
                    type: string
              RemainingTokens:
                type: integer
                format: int32
  /pdf/ClosePDF:
    post:
      summary: Close Document
      description: Releases server resources for a FileId.
      operationId: ClosePDF
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              FileId:
                type: string
      responses:
        default:
          description: Document closed.
          schema:
            type: object
            properties:
              Error:
                type: object
                properties:
                  ResultCode:
                    type: string
                  ExtResultStatus:
                    type: string
                  ExtResultMessage:
                    type: string
                  InternalErrorId:
                    type: string
              RemainingTokens:
                type: integer
                format: int32
definitions: {}
